{name, "couchbeam"}.
{authors, ["Benoît Chesneau <benoitc@e-engura.org>"]}.
{description, "Erlang Couchdb kit"}.
{homepage, "http://benoitc.github.com/couchbeam/"}.
{rebar_compatible, true}.
{license, "MIT", "LICENSE"}.
{url, {git, "https://github.com/benoitc/couchbeam.git", {tag, "0.5.1"}}}.
{applications, [couchbeam]}.
